.button {
  background-color: #7D7D7E;
  font-size: 24px;
  color: #E9E9E9;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: 1px solid #565859;
}

button:hover {
  background-color: #565859;
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(243, 61, 29);
}

.equals:hover {
  background-color: rgb(228, 39, 15);
}
